@import "./../../constants/variables";

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Montagu Slab", serif;

  &__label {
    color: $gray2;
    font-size: $h3;
    line-height: 22px;
  }

  &__box {
    border: 0;
    font-size: $h4;
    border-bottom: 0.25px solid $gray3;
    outline: none;
    font-family: "Montagu Slab", serif !important;
    padding-bottom: 1.25rem;

    &::placeholder {
      color: grey;
      font-family: "Montagu Slab", serif;
    }
  }
}
