@import "./../../constants/variables";

.button {
  border-radius: $border-radius;
  padding: $base * 0.65;
  cursor: pointer;
  font-family: "Montagu Slab", serif;

  &__disabled {
    opacity: 0.5;
  }
}

.primary {
  background-color: $primary;
  border: none;
  font-size: $body;
  text-align: center;
  color: $white;
  font-weight: 700;
}

.secondary {
  background-color: $white;
  border: $primary 1px solid;
  font-size: $h5;
  text-align: center;
  color: $primary;
  font-weight: 700;
}
