@import "./../../constants/variables";

.card {
  background-color: $white;
  box-shadow: $shadow;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  padding: $base;
}

@media (max-width: 720px) {
  .card {
    width: 300px;
    // height: 22px;
  }
}
