.app {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: grid;
  grid-template-columns: [side-bar] 0.5fr [main-content] 3fr;
  font-family: "Montagu Slab", serif;

  &__sidebar {
    // height: 100%;
    background-color: #fff;
    box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &--filters {
      margin: 2.5rem 0;
      border-top: 2px solid #f3f3f3;
      width: 100%;
      &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 1rem 0;
      }

      &__title {
        padding: 0.25rem 0;
      }

      &__sub {
        display: flex;
        justify-content: space-between;

        margin: 3.75rem 0;
      }
    }

    &--tag {
      //   width: 33%;
      display: flex;
      justify-content: center;
      border-radius: 8px;
      padding: 0.5rem;
      background-color: #fff;
      box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
      margin: 0.5rem;
      cursor: pointer;

      &__active {
        border: 2px solid #fcf1e0;
        display: flex;
        justify-content: center;
        border-radius: 8px;
        padding: 0.5rem;
        background-color: #fff;
        box-shadow: 0 6px 20px 0 rgba(13, 51, 32, 0.1);
        margin: 0.5rem;
        cursor: pointer;
      }

      &__text {
        margin: 0px;
      }
    }

    &--btnRow {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__logo {
    height: 100px;
    margin: 0 auto;
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    &--title {
      font-size: 24px;
      font-weight: 400;
      line-height: 12px;
      margin-bottom: 1.25rem;
      //   font-weight: 600;
    }

    &--table {
      &__head {
        border-bottom: 1.5px solid #f3f3f3;
      }

      &__title {
        text-align: left;
      }

      &--product {
        border-bottom: 2px solid #f3f3f3;
        &__img {
          height: 75px;
          width: 75px;
        }
      }

      &__row {
        display: flex;
        flex-direction: row;
        // align-items: center;
        // margin: auto 0;
      }

      &__tag {
        border-radius: 8px;
        background-color: #fcf1e0;
        padding: 0.5rem;
        margin: 1.25rem 0.5rem 0;
      }

      &__empty {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &--img {
          height: 450px;
          width: 450px;
        }
      }
    }

    &--paginate {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;

      &__text {
        font-size: 14px;
      }
    }
  }
}
